@charset "UTF-8";

@font-face {
	font-family: Veneer;
	src: url("http://2017.igem.org/wiki/images/d/d7/T--HFLS_H2Z_Hangzhou--font_veneer_regular_woff.woff") format("woff"),
		 url("http://2017.igem.org/wiki/images/f/f1/T--HFLS_H2Z_Hangzhou--font_veneer_regular_ttf.ttf") format("truetype"),
		 url("http://2017.igem.org/wiki/images/6/60/T--HFLS_H2Z_Hangzhou--font_veneer_regular_eot.eot") format("embedded-opentype"),
		 url("http://2017.igem.org/wiki/images/b/bd/T--HFLS_H2Z_Hangzhou--font_veneer_regular_svg.svg") format("svg"),
		 url("http://2017.igem.org/wiki/images/0/0e/T--HFLS_H2Z_Hangzhou--font_veneer_regular_otf.otf") format("opentype"),
		 url("fallback.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
