a {
	text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
	font-family: Veneer !important;
	font-weight: normal !important;
}

.fullscr {
	height: 100vh;
	width: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.img.framed {
	width: 100%;
	
	background: rgb(250, 250, 250);
	
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
	
	outline: none;
	
	margin: 1rem 0;
}

.img.figure {
	margin: 1rem 0;
	max-width: 100%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.08);
}

.code-block {
	padding: 2rem;

	font-family: Consolas, Ubuntu Mono, monospace;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	background: white;
}

table.frameless {
	background: transparent !important;
	border: 0 !important;
}

table.frameless td {
	padding: 0 !important;
	border: 0 !important;
}

.center {
	width: auto !important;
}

.block {
	padding: 3rem 0;
	text-align: center;
}

.article {
	position: relative;
	display: inline-block;
	width: 50rem;
	max-width: 100%;
	text-align: left;
}

.wide.article {
	width: 70rem;
}

.medium.article {
	width: 60rem;
}

.article-font {
	font-family: Brandon;
	line-height: 1.6;
	font-size: 1.3em;
}

.white-bg {
	background: rgb(253, 253, 253);
}

.black-bg {
	background: rgb(30, 30, 30);
}

.line-sep {
	display: block;
	height: 1px;
	background: rgba(0, 0, 0, 0.08);
}

.blue {
	color: #3498DB;
}

.green {
	color: #2ECC71;
}

.quick-link {
	display: inline-block;
	
	border-radius: 4px;
	height: 7rem;
	width: 14rem;
	overflow: hidden;
	
	line-height: 7rem;
	text-align: center;
	
	font-size: 2rem;
	
	color: white;
	
	cursor: pointer;
	
	border: 1px solid rgba(0, 0, 0, 0.08);
	margin: 0 1rem 1rem 0;
	
	background-color: rgb(250, 250, 250);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	
	transition: box-shadow 0.3s;
}

.quick-link:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
}

.imgview {
	position: relative;
	cursor: pointer;

	border-radius: 5px;
	overflow: hidden;
}

.imgview .view-btn {
	display: inline-block;

	padding: 0.6em 1.2em;
	border-radius: 3px;
	border: 2px solid rgb(253, 253, 253);
	color: rgb(253, 253, 253);

	font-size: 1rem;
	font-weight: bold;

	cursor: pointer;
	line-height: 1;

	transition: color 0.2s, background 0.2s;
}

.imgview .view-btn:hover {
	color: rgb(70, 70, 70);
	background: rgb(253, 253, 253);
}

.imgview .shade {
	position: absolute;
	top: 0;
	left: 0;

	text-align: center;
	border-radius: 5px;

	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.3s;
}

.imgview:hover .shade {
	opacity: 1;
}

.imgview-modal .wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.imgview-modal img {
	display: block;
	border-radius: 3px;
	width: 100%;
}

.imgview-modal .close-btn {
	position: absolute;

	top: -7px;
	right: -7px;

	width: 30px;
	height: 30px;

	line-height: 28px;
	text-align: center;

	border-radius: 3px;
	cursor: pointer;

	color: white;

	background: #E74C3C;

	box-shadow: 0 0 3px #E74C3C;

	transition: background 0.2s;
}

.imgview-modal .close-btn:hover {
	background: rgb(230, 91, 78);
}

.imgview-modal .close-btn:active {
	background: #C0392B;
}

.imgview-modal .close-btn .icon {
	margin-right: 0 !important;
}

.ref-table td {
	min-width: 2em;
	vertical-align: top;
}
