html {
	overflow: hidden;
}

.main.view {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;

	font-size: 1rem;

	font-family: Brandon;

	background: rgba(24, 24, 24, 1);

	-webkit-perspective: 1000px;
			perspective: 1000px;
}

.main.menu {
	position: fixed;
	background: none;

	left: 0; top: 0;
	height: 100%;
	width: 10em;

	opacity: 0;

	text-align: center;

	user-select: none;
	-moz-user-select: none;

	transition: opacity 0.3s;
}

.main.menu .items {
	margin-top: 6rem;
}

.main.menu .logo {
	display: inline-block;
	
	width: 7em;
	height: 7em;
	line-height: 7em;
	text-align: center;

	margin-bottom: 2rem;

	border-radius: 50%;

	background: white;
}

.main.menu .logo i {
	line-height: 2em;
	font-size: 3.5em;
}

.main.menu .item {
	display: inline-block;

	width: auto;

	padding: 0 0.5rem;

	font-weight: bold;
	font-size: 1em;

	color: rgba(240, 240, 240, 1);

	margin-top: 2em;
	-webkit-user-select: none;
			user-select: none;

	cursor: pointer;

	border-left: 3px solid transparent;
	border-right: 3px solid transparent;

	transition: border 0.2s;
}

.main.menu .item.selected,
.main.menu .item:hover {
	border-left-color: #2980B9;
}

.main.menu .sub-items {
	display: inline-block;

	margin-top: 0.3rem;
	
	height: 0;
	overflow: hidden;

	transition: height 0.3s;
}

.main.menu .item:hover .sub-items {
	height: auto;
}

.main.menu .sub-item {
	display: inline-block;

	margin-top: 0.7rem;

	font-weight: bold;
	font-size: 0.9rem;

	padding: 0 0.5rem;

	color: rgba(240, 240, 240, 1);

	border-right: 3px solid transparent;
	border-left: 3px solid transparent;

	transition: border 0.2s;
}

.main.menu .sub-item:hover {
}

.main.view.open-menu .main.menu {
	opacity: 1;
	transition: opacity 0.3s 0.3s;
}

.main.cont-wrap {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(253, 253, 253, 1);

	overflow: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);

	transition: 0.3s cubic-bezier(0.2, 1, 0.2, 1);
}

.main.view.open-menu .main.cont-wrap {
	overflow: hidden;
}

.main.view.open-menu .main.cont-wrap {
	left: 18em;
}

.main.top-btn-set {
	position: fixed;

	z-index: 10;

	left: 0.2rem;
	top: 1.2rem;

	font-size: 1.5rem;

	color: black;

	opacity: 0.8;

	user-select: none;
	-moz-user-select: none;

	transition: opacity 0.2s;
}

.main.top-btn-set .btn {
	display: inline-block;
	margin-left: 1rem;
	cursor: pointer;

	transition: opacity 0.2s;
}

.main.top-btn-set .show-on-menu.btn {
	opacity: 0;
	pointer-events: none;
}

/* menu open! */
.main.open-menu .main.top-btn-set {
	color: white;
	opacity: 1;
}

.main.open-menu .main.top-btn-set .show-on-menu.btn {
	opacity: 1;
	pointer-events: auto;
}

.main.open-menu .menu-btn .fa:before {
	content: "\f00d";
}

/*
.csstransforms3d .main.view.open-menu .main.cont-wrap {
	-webkit-transform: translate3d(10em, 0, -200px);
			transform: translate3d(10em, 0, -200px);

	border-radius: 3px;
}
*/
